* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

/* estilo header */
.h1 {

    display: flex;
    background-color: rgb(0, 0, 0);
    color: rgb(230, 230, 230);
    text-align: center;
    font-size: 100px;
    font-family: 'Great Vibes', cursive;
    margin: auto;
    padding-top: 19px;
}

.div-h1 {
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: flex-start;
}

/* estilos main*/
/* main home */
.main {
    background: linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.493)), url(../img/fondo.jpg);
    width: 100%;
}
.main-home {
    height: 55vw;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61)), url(../img/fondo.jpg);
    width: 100%;
    background-position: 20% 10%;
}

.parrafo {
    display: flex;
    font-family: 'Great Vibes', cursive;
    justify-content: center;
    font-size: 30px;
    color: #f0f8ff;
    background-color: rgba(0, 0, 0, 0.737);
    text-align: center;
}

.main-home img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 100%;
}

.main-home a {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: #f0f8ff;
    border-style: solid;
    border-color: #f0f8ff;
    font-size: 3vw;
    width: 29%;
    background-color: black;
}

.bottom a:hover {
    transition: 0.3s ease;
    transform: scale(1.2);
}



.h2 {
    font-size: 55px;
    color: #f0f8ff;
    background-color: black;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    padding: 25px;
}

/* main trabajos */
.carousel-item img {
    width: 40% !important;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

/* main contactos */
.main-contacto {
    background-color: black;
    height: 700px;
}

.formulario {
    color: #f0f8ff;
    margin-top: 50px;
    border-style: solid;
    border-color: #f0f8ff;
    border-radius: 10px;
}

.col {
    margin-bottom: 25px;
}

.col-md-4 {
    background-color: black;
    color: aliceblue;
}

.col-md-4 img {
    width: 45px;
    height: 45px;
}

.row {
    padding-top: 10px;
}

.mb-3 {
    color: #f0f8ff;
    padding: 15px;
}



/* main videos */

.main-videos {
    background: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61)), url(../img/fondo-videos.png);
    width: 100%;
    background-position: 20% 10%;
}

/* main temporale */
.div-galeria {
    width: 100%;
    margin: auto;
}

img {
    width: 100%;
    height: 100%;
}

.columna {
    margin: 5px;
}

.div-galeria {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

/* estilo footer */
footer {
    background-color: black;
    color: aliceblue;
    text-align: center;
    height: 100px;
}

/* madia query */
@media screen and (max-width:870px) {
    .parrafo {
        font-size: 25px;
    }

    .div-h1 img {
        display: none;
    }

    .h1 {
        font-size: 60px;
    }

    .main-home p {
        font-size: 20px;
    }

    .h2 {
        font-size: 30px;
        padding: 3%;
    }

    .div-galeria {
        grid-template-columns: repeat(3, 33.3%);
    }
}

@media screen and (max-width:420px) {
    .parrafo {
        font-size: 22px;
    }

    .div-galeria {
        grid-template-columns: repeat(2, 50%);
    }
}

@media screen and (max-width:360px) {
    .h1 {
        font-size: 50px;

    }

    .col-md-4 h2 {
        font-size: 20px;
    }
}